.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signinButton {
  padding: 0 4rem;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
