@import '../../../app/styles/mixins.scss';
.input {
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: 0.4s;
  width: 100%;
  margin-bottom: 0.7rem;
  &:focus {
    border: 1px solid #1569c7;
    outline-width: 0;
  }
}

.error {
  @include errorMessage;
  text-align: start;
  margin-bottom: 0.5rem;
}
