@import '../../../app/styles/mixins.scss';

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupButton {
  padding: 0 2rem;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.error {
  @include errorMessage;
}

.passwordError {
  @include errorMessage;
  text-align: start;
  margin-bottom: 0.5rem;
}
