.input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.label {
  background-color: #ffffff;
  border-color: #d9d9d9;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  height: 2.2rem;
  padding: 6px 15px;
  border-radius: 6px;
  cursor: pointer;
  border: 0.5px solid var(--grey-color-400);
  transition: all 0.4s;
  &:hover {
    color: #0449e0;
    border: 0.5px solid #0449e0;
  }
}
